
/*時間割*/
#title {
    text-align: center;
}
#scedule {
    font-size:  90%;  /*表の文字サイズ*/
    color: rgb(61, 61, 61);
}
.number {
    background-color: #b3e6ff;
}
.week {
    background-color:#ff8566;
}


/*button*/
.btn-sticky {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #f7f7f7;
  border-left: solid 6px #ff7c5c;/*左線*/
  color: #ff7c5c;/*文字色*/
  font-weight: bold;
  font-size: 20px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
}
.btn-sticky:active {
  box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
  transform: translateY(2px);
}


/*全体*/
.wrapper{
    max-width: 600px;
    margin: 0 auto;
    color: #666;
}
#header {
    text-align: center;
    font-size: 24px;
    width: 100%;
    margin: 1rem 0 0;
}

/*カレンダー*/
#calendar {
    text-align: center;
    width: 100%;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th {
    color: #000;
}
th, td {
    border: 1px solid #ddd;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
/*日曜と土曜日の文字色を変えるのをなくした*/
/*前後月の日付*/
td.disabled {
    color: #ccc;
}
/*本日*/
td.today {
    background-color: #f07878;
    color: #fff;
}

/*ボタン*/
#next-prev-button {
    position: relative;
}
#next-prev-button button{
    cursor: pointer;
    background: #ff7c5c;
    color: #fff;
    border: 1px solid #ff7c5c;
    border-radius: 4px;
    font-size: 1rem;
    padding: 0.5rem 2rem;
    margin: 1rem 0;
}
#next-prev-button button:hover{
    background-color: rgb(238, 203, 203);
    border-color: rgb(238, 203, 203);
}
#prev {
    float: left;
}
#next {
    float: right;
}
.papa button{
    cursor: pointer;
    border: none;  /* 枠線を消す */
    outline: none; /* クリックしたときにされる枠線を消す */
    background: transparent; /* 背景の灰色を消す */
}

/*　　　ろ　　　ぐ　　　い　　　ん　　　*/
/*body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #34495e;
}*/
 
/*ログインフォームのエリア内のスタイル*/
#in{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
 
#in{
    color: black;
    text-transform: uppercase;
    font-weight: 500;
}
 
/* ユーザーIDとパスワード入力ボックスのスタイル */
#in input[type="username"], #in input[type="password"], #in input[type="text"]{
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
}
 
/* 入力ボックスがフォーカスされたときのスタイル（幅が大きくなる＆枠の色が変わる） */
#in input[type="username"]:focus, #in input[type="password"]:focus, #in input[type="text"]:focus{
    width: 280px;
    border-color: #ff7c5c;
    
}
 
/* Loginボタンのスタイル */
#in button{
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #ff7c5c;
    padding: 14px 40px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    text-decoration: none;
}
 
/* Loginボタンをマウスオーバーしたときのスタイル */
#in button:hover{
    background: #ff7c5c;
     
}

#errorText,#errorText2{
  color: rgba(255, 0, 0, 0.705)
}

